* {
  margin: 0;
  padding: 0;
  font-family: "sofia_pro", sans-serif;
}


@font-face {
  font-family: 'sofia_pro';
  src: url('./assets/fonts/sofia_pro_light.woff2') format('woff2'),
  url('./assets/fonts/sofia_pro_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'sofia_pro';
  src: url('./assets/fonts/sofia_pro_regular.woff2') format('woff2'),
  url('./assets/fonts/sofia_pro_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'sofia_pro';
  src: url('./assets/fonts/sofia_pro_medium.woff2') format('woff2'),
  url('./assets/fonts/sofia_pro_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sofia_pro';
  src: url('./assets/fonts/sofia_pro_semi_bold.woff2') format('woff2'),
  url('./assets/fonts/sofia_pro_semi_bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'sofia_pro';
  src: url('./assets/fonts/sofia_pro_bold.woff2') format('woff2'),
  url('./assets/fonts/sofia_pro_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'sofia_pro';
  src: url('./assets/fonts/sofia-pro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
